.Container {
  display: flex;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.397);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  transform: scale(2);
}

.Ring1,
.Ring2,
.Ring3,
.Ring4 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: 3px solid;
  animation-duration: 1s;
}

.Ring1 {
  border-color: goldenrod;
  animation: rotatingX 1.5s linear infinite;
}

.Ring2 {
  border-color: crimson;
  animation: rotatingY 1.5s linear infinite
}

.Ring3 {
  border-color: cornflowerblue;
  animation: rotatingZX 1.5s linear infinite;
}

.Ring4 {
  border-color: seagreen;
  animation: rotatingZY 1.5s linear infinite
}

@keyframes rotatingX {
  to {
    transform: rotateX(1turn);
  }
}

@keyframes rotatingY {
  to {
    transform: rotateY(1turn);
  }
}

@keyframes rotatingZX {
  from{
    transform: rotateZ(45deg) 
  }
  to {
    transform: rotateZ(45deg) rotateX(1turn);
  }
}

@keyframes rotatingZY {
  from {
    transform: rotateZ(-45turn)
  }
  to {
    transform: rotateZ(1turn) rotateY(1turn);
  }
}